In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [9]:
def Q10sql(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT F.name, 
                SUM(CASE WHEN B.memid = 0 
                THEN F.guestcost*B.slots
                ELSE F.membercost*B.slots END) AS revenue
        FROM BOOKINGS AS B
        INNER JOIN FACILITIES AS F
        ON B.facid = F.facid
        GROUP BY F.name
        HAVING revenue < 1000
        ORDER BY revenue DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def Q10Conn():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! \n")
        Q10sql(conn)

Q10Conn()

2.6.0
Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [21]:
def Q11sql(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT M1.surname, M1.firstname, M2.surname as recommender_last, M2.firstname as recommender_first
        FROM Members as M1
        LEFT JOIN Members as M2
        ON M1.recommendedby = M2.memid
        ORDER BY M1.surname, M1.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def Q11Conn():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order \n")
        Q11sql(conn)

Q11Conn()

2.6.0
Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [85]:
def Q12sql(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
select M.surname, M.firstname,
	count(case when facid = 0 then facid end) as TC1,
	count(case when facid = 1 then facid end) as TC2,
	count(case when facid = 2 then facid end) as BC,
	count(case when facid = 3 then facid end) as TT,
	count(case when facid = 4 then facid end) as MR1,
	count(case when facid = 5 then facid end) as MR2,
	count(case when facid = 6 then facid end) as SC,
	count(case when facid = 7 then facid end) as ST,
	count(case when facid = 8 then facid end) as PT
from Bookings as B
inner join Members as M
on B.memid = M.memid
where B.memid > 0
group by B.memid
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def Q12Conn():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q12: Find the facilities with their usage by member, but not guests \n\n(Last, First, Tennis Court 1, Tennis Court 2, Badminton Court, Table Tennis, Massage Room 1, Massage Room 2, Squash Court, Snooker Table, Pool Table)\n")
        Q12sql(conn)

Q12Conn()

2.6.0
Q12: Find the facilities with their usage by member, but not guests

(Last, First, Tennis Court 1, Tennis Court 2, Badminton Court, Table Tennis, Massage Room 1, Massage Room 2, Squash Court, Snooker Table, Pool Table)
('Smith', 'Darren', 0, 19, 132, 28, 28, 0, 14, 12, 28)
('Smith', 'Tracy', 30, 2, 32, 28, 6, 0, 6, 45, 61)
('Rownam', 'Tim', 6, 6, 4, 69, 80, 2, 0, 0, 241)
('Joplette', 'Janice', 19, 8, 0, 9, 12, 2, 14, 68, 27)
('Butters', 'Gerald', 57, 3, 20, 1, 32, 1, 9, 34, 6)
('Tracy', 'Burton', 31, 3, 2, 24, 31, 0, 35, 20, 30)
('Dare', 'Nancy', 25, 11, 10, 5, 19, 5, 0, 23, 19)
('Boothe', 'Tim', 4, 52, 12, 4, 36, 0, 12, 43, 25)
('Stibbons', 'Ponder', 1, 31, 16, 3, 19, 0, 2, 20, 12)
('Owen', 'Charles', 17, 41, 6, 24, 11, 2, 7, 22, 1)
('Jones', 'David', 25, 30, 8, 11, 19, 4, 8, 2, 8)
('Baker', 'Anne', 6, 35, 10, 1, 3, 2, 49, 0, 12)
('Farrell', 'Jemima', 1, 1, 7, 12, 29, 0, 8, 21, 1)
('Smith', 'Jack', 22, 1, 12, 5, 27, 1, 9, 5, 7)
('Bader', 'Florence', 1, 8, 9, 42, 0, 2, 2, 33, 23)
('Baker', 'Timothy', 14, 7, 7, 24, 24, 0, 5, 0, 85)
('Pinker', 'David', 16, 0, 7, 17, 3, 0, 3, 16, 9)
('Genting', 'Matthew', 1, 0, 0, 26, 25, 1, 0, 1, 18)
('Mackenzie', 'Anna', 0, 0, 30, 16, 1, 0, 2, 7, 70)
('Coplin', 'Joan', 7, 0, 0, 21, 1, 2, 1, 10, 11)
('Sarwin', 'Ramnaresh', 5, 11, 7, 3, 8, 3, 2, 18, 13)
('Jones', 'Douglas', 9, 0, 2, 0, 0, 0, 1, 0, 2)
('Rumney', 'Henrietta', 0, 1, 0, 0, 0, 0, 2, 14, 3)
('Farrell', 'David', 6, 1, 0, 0, 0, 0, 1, 1, 25)
('Worthington-Smyth', 'Henry', 0, 0, 4, 3, 1, 0, 0, 0, 33)
('Purview', 'Millicent', 0, 1, 2, 6, 0, 0, 1, 1, 5)
('Tupperware', 'Hyacinth', 0, 0, 1, 0, 1, 0, 1, 5, 8)
('Hunt', 'John', 4, 4, 2, 1, 3, 0, 1, 0, 0)
('Crumpet', 'Erica', 1, 0, 2, 2, 2, 0, 0, 0, 0)

In [99]:
def Q13sql(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
select F.name,
	count(case when strftime('%m',starttime) = '07' then 'July' end) as July,
	count(case when strftime('%m',starttime) = '08' then 'August' end) as August,
	count(case when strftime('%m',starttime) = '09' then 'September' end) as September
from Bookings as B
inner join Facilities as F
on B.facid = F.facid
where B.memid > 0
group by B.facid

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def Q13Conn():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q13: Find the facilities usage by month, but not guests \n\n(Facility Name, July, Aug, Sept)\n")
        Q13sql(conn)

Q13Conn()

2.6.0
Q13: Find the facilities usage by month, but not guests

(Facility Name, July, Aug, Sept)

('Tennis Court 1', 65, 111, 132)
('Tennis Court 2', 41, 109, 126)
('Badminton Court', 51, 132, 161)
('Table Tennis', 48, 143, 194)
('Massage Room 1', 77, 153, 191)
('Massage Room 2', 4, 9, 14)
('Squash Court', 23, 85, 87)
('Snooker Table', 68, 154, 199)
('Pool Table', 103, 272, 408)